.vs 
*/.vs 
.vscode 

# Documentation 
Docs/ProcessDocs 

# Unfinished modules 
Server 
server.cmd 

# Testing modules 
Test.Client

# Databases 
sqlite3.exe 
Client/Model/LocalDB 
Server/Database/ServerDB 

# Snippets 
Snippets
